DB_HOST=localhost
DB_USER=root
DB_PASS=password
DB_NAME=school_management
DB_PORT=3306
EXPRESS_PORT=3000
JWT_SECRET=your_jwt_secret
APP_EMAIL_ADDRESS=your_email_address
APP_EMAIL_PASS=your_email_password
